main.responsive {
  display: grid;
  margin:auto;
  width: 50vw;
  font-size: 1.2rem;
}
#about {
  place-items: center;
}
#mapid{
  position: relative;
  width: 100%;
  padding-top: 54%;
  grid-column: 1/3;
}
#contact {
  margin:auto;
  width:70%;
}
.gallery {
  display:grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.gallery > .text {
  text-align: center;
  grid-column:1/4;
  font-size: 1.5em;
}

.gallery > img {
  max-width: 100%;
  border-radius: 50px;
}


@media only screen and (max-width: 1500px) {
  main.responsive{width: 60vw;}
  #contact {  width:85%;}
}
@media only screen and (max-width: 1200px) {
  main.responsive{width: 75vw;}
  #contact {  width:95%;}
  #mapid{padding-top: 60%;}
}
@media only screen and (max-width: 950px) {
  main.responsive{width: 85vw;}
  #mapid{padding-top: 75%;}
}
@media only screen and (max-width: 830px) {
  main.responsive{width: 95vw;}
  #mapid{padding-top: 85%;}
}

@media only screen and (max-width: 750px) {
#mapid {  grid-column: 1/2;}
#mapid{padding-top: 95%;}
.gallery{grid-template-columns: 1fr;}
.gallery > .text {grid-column:1/2;}
}



h1 {text-align: center;}
h2 {text-align: center;}

.gapped { gap:1rem;}

.link_decoration:link{color:#00CCFF; text-decoration: none;}
.link_decoration:visited{color:deepskyblue;}
.link_decoration:hover{color:cyan;}

figure figcaption > a:link{color:#00CCFF; text-decoration: none;}
figure figcaption > a:visited{color:deepskyblue;}
figure figcaption > a:hover {color:cyan;}
